#main-loading{
	background-color:white;
	position:relative;
}
#main-loading #app-loading{
	position: absolute;
	background-repeat: no-repeat;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#main-loading #loading-gif{
	position: absolute;
	background-image: url('../../images/logo_about.png');
	background-repeat: no-repeat;
	width:243px;
	height:108px;
	top: 49%;
	left: 49%;
	transform: translate(-50%, -50%);
}
